<h2>Editing question</h2>

<%= render 'simple_form' %>

<%= link_to 'Show', @question %> |
<%= link_to "Researcher", @question.researcher %> | 
<%= link_to "All Researchers", researchers_path %> | 
<%= link_to 'Admin home', admin_path %>