<%= render 'layouts/email_template_top' %>
			<h1>Welcome to hellotoken.</h1>
		</div>
		<div class="main_text">
			<p>Hi <%= @email %>,</p>
			<p>Thanks for joining our community of publishers! You’ve joined an active blogger community that wants to change how it does business (namely, earning up to 10x more money without annoying ads and paywalls). The first step you need to take is confirm your account through the link below:</p>

			<p><%= link_to 'Confirm my hellotoken account', confirmation_url(@resource, confirmation_token: @token) %></p>

			<p>Once you confirm your account, there will be a short waiting period. This waiting period is to verify whether you qualify for our early launch. We’re launching shortly so sit tight, and we’ll email you as soon as you can start earning money on our platform.</p>

			<p>Get excited! If you have any questions, feel free to reach out to me personally at 
			<%= mail_to 'brian@hellotoken.com', 'brian@hellotoken.com' %>.</p>

			<p>Cheers,<br>
			Brian</p>
		</div>
<%= render 'layouts/email_template_bottom' %>